APP_NAME=Clean FastAPI App
DEBUG=True
VERSION=1.0.0

CORS_ORIGINS='["*"]'

DB_NAME=mydb
DB_PORT=5432
DB_HOST=localhost
DB_PASSWORD=password
DB_USER=postgres

ADMIN_EMAIL=admin@toncosmos.com
ADMIN_PASSWORD=admin@2026

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=your_email@gmail.com
MAIL_PASSWORD=your_app_password
MAIL_FROM=your_email@gmail.com
MAIL_FROM_NAME=Your App
